[run]
branch = True
source = /usr/lib/python3.9/site-packages/keymapper
concurrency = multiprocessing
debug = multiproc
omit =
    # not used currently due to problems
    /usr/lib/python3.9/site-packages/keymapper/ipc/socket.py
