[run]
branch = True
source = /usr/lib/python3.10/site-packages/inputremapper
concurrency = multiprocessing
debug = multiproc
omit =
    # not used currently due to problems
    /usr/lib/python3.9/site-packages/inputremapper/ipc/socket.py

[report]
exclude_lines =
    pragma: no cover

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod