# helpful commands:
#   udevadm monitor --property
#   udevadm info --query=all --name=/dev/input/event3
# to test changes:
#   sudo udevadm control --log-priority=debug
#   sudo udevadm control --reload-rules
#   journalctl -f
# to get available variables:
#   udevadm monitor --environment --udev --subsystem input
ACTION=="add", SUBSYSTEM=="input", RUN+="/bin/input-remapper-control --command autoload --device $env{DEVNAME}"
