[Desktop Entry]
Type=Application
Exec=bash -c "input-remapper-control --command stop-all && input-remapper-control --command autoload"
Name=input-remapper-autoload
Icon=input-remapper
Comment=Starts injecting all presets that are set to automatically load for the user
