[Desktop Entry]
Type=Application
Name=Input Remapper
Icon=/usr/share/input-remapper/input-remapper.svg
Exec=input-remapper-gtk
Terminal=false
Categories=Settings
Comment=GUI for device specific key mappings
