[Desktop Entry]
Type=Application
Name=key-mapper
Icon=mouse
Exec=key-mapper-gtk
Terminal=false
Categories=Settings
Comment=GUI for device specific keyboard mappings
