<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
        "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd"
        >
<policyconfig>
    <action id="keymapper">
        <description>Run Key Mapper as root</description>
        <message>Authentication is required to discover and read devices.</message>
        <defaults>
            <allow_any>no</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/key-mapper-control</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
    </action>
</policyconfig>
