[Desktop Entry]
Type=Application
Exec=bash -c "key-mapper-control --command stop-all; key-mapper-control --command autoload --config-dir /home/USER/.config/key-mapper"
Name=key-mapper-autoload
Icon=/usr/share/key-mapper/key-mapper.svg
Comment=Starts injecting all presets that are set to automatically load for the user
