[Desktop Entry]
Type=Application
Exec=key-mapper-control --command autoload
Name=key-mapper-autoload
Icon=/usr/share/key-mapper/key-mapper.svg
Comment=Starts injecting all presets that are set to automatically load for the user
