[Unit]
Description=Service to inject keycodes without the GUI application
# dbus is required for ipc between gui and key-mapper-control
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=keymapper.Control
ExecStart=/usr/bin/key-mapper-service

[Install]
WantedBy=default.target
Alias=key-mapper.service
