[Desktop Entry]
Type=Application
Name=key-mapper
Icon=mouse
Exec=setxkbmapgtk-gtk
Terminal=false
Categories=Settings
Comment=GTK based GUI for device specific keyboard mappings
