list entry {
    background-color: transparent;
    border-radius: 4px;
}

list button:not(:focus) {
    border-color: transparent;
    background-color: transparent;
}

list button {
    border-color: transparent;
}

.button_container {
    padding: 5px;
    background-color: @content_view_bg;
}

.button_container > * {
    background-color: transparent;
}

/* @theme_bg_color, @theme_fg_color */