row {
    padding: 0;
}

.status_bar frame {
    /* the status bar is ugly in elementary os otherwise */
    border: 0px;
}

/* adds a bottom border for themes that don't add one in primary-toolbar
classes. Interestingly, those that do add a border ignore this separator,
which is perfect. */
.top_separator {
    border: 0px; /* fixes light pixels on each end in arc-dark */
}

.table-header, .row-box {
    padding: 2px;
}

.changed {
    background: @selected_bg_color;
}

list entry {
    background-color: transparent;
    border-radius: 4px;
    border: 0px;
    box-shadow: none;
}

list button:not(:focus) {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

list button {
    border-color: transparent;
}

.copyright {
    font-size: 7pt;
}

/* @theme_bg_color, @theme_fg_color */