.status_bar frame {
    /* the status bar is ugly in elementary os otherwise */
    border: 0px;
}

.transparent {
    background: transparent;
}

.copyright {
    font-size: 7pt;
}

.autocompletion label {
    padding: 11px;
}

.autocompletion {
    padding: 0px;
    box-shadow: none;
}

.no-v-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.transformation-draw-area {
    border: 1px solid @borders;
    border-radius: 6px;
    background: @theme_base_color;
}

.multiline > *:first-child {
    /* source view suddenly started showing a white background behind line-numbers */
    background: @theme_bg_color;
}

/*
@theme_bg_color
@theme_selected_bg_color
@theme_base_color
*/
