row {
    padding: 0;
}

.table-header, .row-box {
    padding: 2px;
}

.changed {
    background: @selected_bg_color;
}

list entry {
    background-color: transparent;
    border-radius: 4px;
}

list button:not(:focus) {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

list button {
    border-color: transparent;
}

/* @theme_bg_color, @theme_fg_color */