name: Ubuntu Installation

on: [push, pull_request]

jobs:
  build:
    continue-on-error: true
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        # broken "Error: Cache folder path is retrieved for pip but doesn't exist on disk: /home/runner/.cache/pip"
        # cache: 'pip'
        # cache-dependency-path: pyproject.toml
    - name: Install .deb
      run: |
        # build dependencies
        sudo apt install gettext -y

        sudo scripts/build-deb.sh
        find build
        sudo apt install -f ./dist/input-remapper-*.deb
    - name: DBus Hello
      run: |
        # Test if files have been placed at the correct places in ubuntus file system.
        # By sending the hello command, we tests the service file, binaries and module

        # Make sure we aren't just importing the module from the cloned repo in the
        # cwd. Commands should import the installed package
        cd /
        [ ! -d "inputremapper" ]

        # Need to use sudo, because sys.path is weird in the ci otherwise
        sudo input-remapper-control --command hello 2>&1 | grep 'Daemon answered with "hello"'
    - name: Generic installation
      run: |
        sudo apt purge input-remapper

        # Presence of the build directory changes a bit how pip installs stuff. Lets
        # try it clean.
        sudo rm build -r

        # Check if the generic installation method works too. Also, using `--root /`
        # should not break the system somehow
        # sudo python3 -m install --root /
    - name: DBus Hello 2
      run: |
        # Lets try it again
        cd /
        [ ! -d "inputremapper" ]
        sudo input-remapper-control --command hello 2>&1 | grep 'Daemon answered with "hello"'
