name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.14
      uses: actions/setup-python@v4
      with:
        python-version: 3.14
        cache: 'pip'
        cache-dependency-path: pyproject.toml
    - name: Install dependencies
      run: |
        scripts/ci-install-deps.sh
        pip install black ruff
    - name: black --check --diff
      run: |
        black --version
        black --check --diff ./inputremapper ./tests
    - name: ruff
      run: |
        ruff --version
        ruff check ./inputremapper ./install
    - name: mypy
      run: |
        # There are honestly many mypy issues with input-remapper, but nowadays
        # reviewdog points them out for us on changed files luckily.
        # The "install" module should be compliant.
        mypy ./install
