name: Test

on: [push, pull_request]

jobs:
  build:
    continue-on-error: true
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        python-version: ["3.10", "3.13"] # min and max supported versions
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        # broken "Error: Cache folder path is retrieved for pip but doesn't exist on disk: /home/runner/.cache/pip"
        # cache: 'pip'
        # cache-dependency-path: pyproject.toml
    - name: Install dependencies
      run: |
        # Getting this to work with the actions/setup-python step is more involved...
        # see https://pygobject.gnome.org/getting_started.html
        sudo apt update
        sudo apt install \
            libgirepository-2.0-dev gcc libcairo2-dev pkg-config python3-dev \
            libgtk-3-dev gir1.2-gtk-3.0 gir1.2-gtksource-4 gobject-introspection
        pip install -e .
    - name: Run tests
      run: |
        # Don't run tests as root, otherwise (I think) they run on the systems python
        # version (3.12 currently)
        python3 --version

        python -m unittest discover tests/unit
